$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

$accent-color: #f8f200;
$dark-color: #000;
$light-color: #fff;
$text-color: #777;
$link-color: #52bedc;

$font-primary: "Roboto", sans-serif;
$font-secondary: "Archangelsk", sans-serif;
