@use "./base/variables" as *;

.buy {
	height: 100%;
	background-color: $dark-color;
	color: $light-color;

	&__container {
		display: grid;
		grid-template-columns: 1fr;
		position: relative;
		gap: 40px;

		@media screen and (min-width: $breakpoint-tablet) {
			grid-template-columns: repeat(6, 1fr);
			gap: 32px;
		}

		@media screen and (min-width: $breakpoint-desktop) {
			grid-template-columns: 1fr 1fr;
		}
	}

	&__background {
		background-image: url("../images/bg.webp");
		background-position: 50%;
		background-repeat: no-repeat;
		background-size: cover;
		height: auto;
		max-width: 100%;
		overflow: hidden;
		width: 100%;
		min-height: 198px;
		@media screen and (min-width: $breakpoint-tablet) {
			grid-column: span 2;
			max-height: 717px;
			width: 332px;
		}

		@media screen and (min-width: $breakpoint-desktop) {
			grid-column: span 1;
			width: 100%;
		}
	}

	&__content {
		position: relative;
		width: 100%;
		padding-bottom: 70px;

		@media screen and (min-width: $breakpoint-tablet) {
			grid-column: span 4;
			padding-left: 0;
			padding-top: 70px;
		}

		@media screen and (min-width: $breakpoint-desktop) {
			max-width: 624px;
			margin: 0;
			grid-column: span 1;
		}
	}

	.title {
		margin-bottom: 25px;
	}

	.subtitle {
		color: $link-color;
		font-weight: 700;
		font-size: 20px;
		line-height: 23px;
		margin-bottom: 20px;

		@media screen and (min-width: $breakpoint-desktop) {
			font-size: 24px;
			line-height: 28px;
			margin-bottom: 15px;
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 15px;
		margin-bottom: 70px;
	}

	.icon-block {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 18px;
	}
	.icon svg {
		width: 24px;
		height: 24px;
	}

	&__platforms {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 40px;
		margin-top: 25px;

		@media screen and (min-width: $breakpoint-tablet) {
			gap: 47px;
			max-width: 319px;
		}

		img {
			height: auto;
		}
	}
}
